{{ define "main" }}
<section class="docs docs-custom py-6 pt-9 text-block">
	<div class="container mb-3">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-xs-12">
				<div class="d-flex flex-column justify-content-between h-100">
					<div class="mob-bg">
						<h2 class="mb-5 text-uppercase fs-1">{{ .Title }}</h2>
						<p class="mb-0 fw-bold lh-sm w-75 fs-5 subtitle">Для поверки/замены счетчика газа вы можете оставить заявку в мессенджеры</p>
						<div class="d-flex gap-3 my-4 messangers-mini">
							<a><img src="https://energo-effect.pro/images/max-icon.png"></a>
							<a><img src="https://energo-effect.pro/images/whastsapp-icon.png"></a>
							<a><img src="https://energo-effect.pro/images/telegram-icon.png"></a>
							<a><img src="https://energo-effect.pro/images/line-icon.png"></a>
						</div>
						<p class="fs-5 lh-sm w-75">По номеру <a class="text-warning fw-bold fs-5" href="tel:+7(988)-283-53-53">+7(988)-283-53-53</a> отправить сообщение <span class="text-warning">«Заявка на поверку»</span>, указать адрес установки счетчика и номер телефона для связи</p>
					</div>
					<div class="mob-d-none">
						<p class="fw-bold text-warning fs-5 lh-sm">Если требуется замена счетчика газа, компания «Энерго Эффект» является официальным поставщиком заводов производителей в г. Сочи</p>
						<p class="fw-bold fs-5 lh-sm">После того как наш специалист обработает вашу заявку, вам сообщат о стоимости и сроках поверки/замены счетчика</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-xs-12">
				<h3 class="mb-5 fs-2 mob-uppercase">Приложить к сообщению фотографии</h3>
				<p class="bg-pane d-flex p-4 mb-4 align-items-center">
					<span class="me-4"><img src="https://energo-effect.pro/images/mini-icon-1-1.png"></span>
					<span class="d-flex flex-column justify-content-center fw-normal fs-5">
						Первая страница договора ТО ВДГО
						<span class="fs-6">Договор можно заключить на месте с представителем Горгаз</span>
					</span>
				</p>
				<p class="bg-pane d-flex p-4 mb-4 align-items-center">
					<span class="me-4"><img src="https://energo-effect.pro/images/mini-icon-2-1.png"></span>
					<span class="d-flex align-items-center fw-normal fs-5">
						Первая страница договора поставки газа
					</span>
				</p>
				<p class="bg-pane d-flex p-4 mb-4 align-items-center">
					<span class="me-4"><img src="https://energo-effect.pro/images/mini-icon-3-1.png"></span>
					<span class="d-flex align-items-center fw-normal fs-5">
						Выписка из ЕГРН или свидетельство о праве собственности
					</span>
				</p>
				<p class="bg-pane d-flex p-4 mb-4 align-items-center">
					<span class="me-4"><img src="https://energo-effect.pro/images/mini-icon-4-1.png"></span>
					<span class="d-flex align-items-center fw-normal fs-5">
						Фотография счетчика (общий вид с расстояния 1–2 метра)
					</span>
				</p>
				<p class="bg-pane d-flex p-4 mb-4 align-items-center">
					<span class="me-4"><img src="https://energo-effect.pro/images/mini-icon-5.png"></span>
					<span class="d-flex align-items-center fw-normal fs-5">
						Фотография счетного механизма счетчика, чтобы был виден номер счетчика
					</span>
				</p>
				<p class="bg-pane d-flex p-4 mb-0 align-items-center">
					<span class="me-4"><img src="https://energo-effect.pro/images/mini-icon-6.png"></span>
					<span class="d-flex align-items-center fw-normal fs-5">
						Акт обследования вентиляционных каналов и дымоходов для договора тех. обслуживания (ТО ВДГО)
					</span>
				</p>
				<div class="mob-d-block">
					<p class="fw-bold text-warning fs-5 lh-sm">Если требуется замена счетчика газа, компания «Энерго Эффект» является официальным поставщиком заводов производителей в г. Сочи</p>
					<p class="fw-bold fs-5 lh-sm">После того как наш специалист обработает вашу заявку, вам сообщат о стоимости и сроках поверки/замены счетчика</p>
				</div>
			</div>
		</div>
		
	</div>
</section>
{{ end }}
