{{ define "main" }}
<section id="news" class="text-block py-5 mb-3">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-12">
                <h1 class="text-uppercase">{{ .Title }}</h1>
            </div>
        </div>
        {{ with .Content }}
        <div class="row mb-4">
            <div class="col-md-6">{{ . }}</div>
        </div>
        {{ end }}
        <div class="row mb-5">
            {{ range .Pages }}
            <div class="col-lg-3 col-md-3 col-xsm-4 col-xs-6 mb-5">
                <a class="d-block mb-3" href="{{ .RelPermalink }}"><img src="{{ .RelPermalink }}preview.webp" /></a>
                <p class="text-uppercase">
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                </p>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
